.home {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3% 8%;
}

.home-text {
    width: 80%;
}

.home-text .text-h1 {
    font-size: 4rem;
    line-height: 3.5rem;
    margin-bottom: 1rem;
}

.home-text .text-h4 {
    text-align: left;
    font-size: 1.5rem;
    margin-bottom: 4rem;
}

.text-h4 span {
    color: var(--red);
}

.home-text p {
    margin-bottom: 4rem;
}

.home-img img {
    width: 100%;
}

@media (max-width: 785px) {

    /* HOME */
    .home {
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        gap: 5rem;
    }

    .home .text-h1 {
        font-size: 3rem;
        line-height: 3rem;
    }

    .home .text-h4 {
        font-size: 1.5rem;
        text-align: center;
    }

    .home-text p {
        margin-bottom: 6rem;
    }

    .home-img img {
        width: 100%;
    }
}

@media (max-width:500px) {

    .home .text-h1 {
        font-size: 3rem;
        line-height: 3rem;
    }

    .home .text-h4 {
        font-size: 1.2rem;
        text-align: center;
    }

    .home-text p {
        margin-bottom: 6rem;
    }

    .home-img img {
        width: 100%;
    }
}