.home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.home-text {
    width: 80%;
}

.home-text .text-h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.home-text .text-h4 {
    text-align: left;
    font-size: 1.5rem;
    margin-bottom: 4rem;
}

.text-h4 span {
    color: var(--red);
}

.home-text p {
    font-size: 1.2rem;
    margin-bottom: 4rem;
    text-align: justify;
}

.home-img img {
    width: 100%;
}

@media (max-width:576px) {
    .home {
        padding-top: 100px;
        display: grid;
        grid-template-columns: auto;
    }

    .home-text {
        width: 100%;
        height: auto;
    }

    .home-text,
    .home-text .text-h4 {
        text-align: center;
    }
}