.table-area {
    display: flex;
    margin: 0 8%;
    border: 1px solid var(--darkblue);
    box-shadow: 0 0.1em 0.5em #ccc;
    justify-content: center;
    align-items: center;
}

.table {
    width: 100%;
}

.table-head {
    background: var(--darkblue);
    color: var(--dark);
}

.table-head tr {
    font-size: 1.5rem;
}

.table-head tr th {
    text-align: center;
    width: 50%;
    padding: 10px;
}

.table-body tr {
    background: #eee;
}

.table-body td {
    font-size: 1.2rem;
    padding: 10px 0 10px 5px;
    border-bottom: 1px solid #ccc;
}