.history-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 8%;
}

.history-text {
    width: 50%;
    text-align: justify;
}

.history-text ul {
    margin: 20px 40px;
}

.history-text ul li {
    margin: 5px;
    font-size: 1.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.history-text p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.history-text #more-btn-history-div {
    display: flex;
    justify-content: right;
}

.history-img {
    width: 40%;
    margin: auto 0;
}

.history-img img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 0.1rem 0.5rem #ccc;
}

/* MISSÃO VISÃO VALORES */
.mvv-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 4% 4% 4%;
}

.mvv-box {
    display: block;
    background: var(--darkblue);
    width: 20rem;
    height: 15rem;
    border-radius: 2%;
    padding: 1.5%;
    color: var(--dark);
    text-align: left;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    transition: all 0.5s;
}

.mvv-box:hover {
    cursor: pointer;
    background: var(--green);
}

.mvv-box .mvv-box-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    padding: 0 20px 0 20px;
}

.mvv-box h3 {
    font-size: 2rem;
    text-align: center;
    font-family: 'Montserrat';
}

.mvv-box p {
    font-size: 1.1rem;
    margin: 10px 0;
    text-align: left;
}

.mvv-box .mvv-img-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:576px) {

    /* História */
    .history-content {
        display: grid;
        grid-template-columns: auto;
    }

    .history-text {
        width: 100%;
    }

    .history-text #more-btn-history-div {
        display: flex;
        justify-content: center;
        margin: 50px 0;
    }

    .history-img {
        width: 100%;
        margin: auto 0;
    }

    .history-img img {
        width: 100%;
        border-radius: 20px;
        box-shadow: 0 0.1rem 0.5rem #ccc;
    }

    /* MVV */
    .mvv-content {
        display: grid;
        grid-template-columns: auto;
    }

    .mvv-box {
        margin: 20px;
    }

    .mvv-box p {
        text-align: justify;
        padding: 0 20px;
    }

}