#id_contatos {
    height: 100vh;
}

#lista_contatos {
    padding: 5%;
    background-color: #98dcec;
}

#lista_contatos ul {
    text-align: center;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    height: 0px;
    align-items: center;
}

.item_lista_contatos {
    background-color: #ffffff;
    border: 1px solid #7dbacf;
    border-radius: 2%;
    height: 180px;
    width: 200px;
    margin: 10px 10px 10px 0;
    font-size: 16px;
}

.item_lista_contatos {
    background-color: #ffffff;
    border: 1px solid #7dbacf;
    border-radius: 2%;
    height: 180px;
    width: 200px;
    margin: 10px 10px 10px 0;
    font-size: 16px;
}

.item_lista_contatos a h3 {
    padding-top: 5%;

}

.item_lista_contatos i {
    color: #98dcec;
    font-size: 72px;
    margin: 10% 0;
}

.item_lista_contatos p {
    color: #212121;
}

.item_lista_contatos a h3:hover,
.item_lista_contatos i:hover,
.item_lista_contatos p:hover {
    color: #39cef0;
}