.donation-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-start: 1;
    grid-column-end: 3;
}

.donation-text {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-content: center;
    align-items: center;
}

.donation-text p {
    width: 80%;
    font-size: 19px;
    text-align: justify;
}

.donation-text p i {
    display: block;
    font-size: 32px;
    color: var(--darkbluelow);
}

.donation-img {
    display: flex;
}

.donation-img img {
    margin: 0 auto;
    width: 55%;
}

/* O Que Doar */
.section-what-to-donate {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-items: center;
}

.section-what-to-donate h2 {
    justify-self: left;
    grid-column-start: 1;
    grid-column-end: 4;
}

.urgency-box,
.product-box {
    margin: 20px;
    border-radius: 5px;
    height: 480px;
    width: 300px;
}

.urgency-box {
    display: grid;
}

.urgency-box a {
    height: 40px;
    display: flex;
    justify-self: center;
    align-items: center;
    padding: 15px 20px;
    font-size: 19px;
    font-family: 'Montserrat';
    border-radius: 5px;
    background: var(--green-logo);
    font-weight: bold;
}

.urgency-box p {
    font-size: 19px;
    margin: 0 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.product-box {
    background: linear-gradient(var(--blue-logo), var(--lightblue));
}

.urgency-box h3,
.product-box h3 {
    font-size: 24px;
    padding: 10px 0;
    text-align: center;
    font-family: 'Montserrat';
}

.product-box ul {
    margin-left: 30px;
}

.product-box ul li {
    margin: 10px;
    font-size: 19px;
    text-align: left;
}

.product-box div {
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 10px;
}

.product-box div img {
    padding: 10px;
}

.location {
    width: 100%;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
    margin: 50px 0;
}

.location h4 {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.location p {
    margin: 10px 0;
    font-size: 19px;
}

.location iframe {
    width: 80%;
    height: 350px;
    padding: 20px 0;
}

/* PAGAMENTO */

.section-payment {
    grid-column-start: 1;
    grid-column-end: 3;
}

.payment-content {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
}

.product-box-img {
    display: flex;
}

.payment-box-img img {
    width: 350px;
    height: 350px;
    margin: 0 auto;
    border-radius: 100%;
    display: block;
}

.payment-box {
    width: 300px;
    height: 350px;
    border: 2px solid darkcyan;
    border-radius: 5px;
}

.payment-box-text {
    text-align: center;
}

.payment-box-text h3 {
    font-size: 24px;
    background-color: darkcyan;
    padding: 20px;
    color: var(--white);
    border-top-right-radius: px;
    border-top-left-radius: 2px;
}

.payment-box-text p {
    margin: 10px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 19px;
}

.payment-box-text img {
    width: 50%;
    margin: 10px;
}

@media (max-width: 576px) {
    .donations {
        grid-template-columns: 1fr;
    }

    .donation-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-end: 2;
    }

    .donation-text {
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .donation-text p {
        width: 80%;
        font-size: 1rem;
        margin: 40px auto;
    }

    .donation-text img {
        width: 45%;
    }

    /* O Que Doar */
    .section-what-to-donate {
        grid-template-columns: 1fr;
        grid-column-end: 2;
    }

    .section-what-to-donate h2 {
        justify-self: left;
        grid-column-end: 2;
    }

    .location {
        grid-column-end: 2;
    }

    .location h4 {
        font-size: 18px;
    }

    .location p {
        font-size: 16px;
    }

    .location iframe {
        width: 80%;
        height: 400px;
    }

    /* PAGAMENTO */

    .section-payment {
        grid-column-end: 2;

    }

    .payment-content {
        grid-template-columns: 1fr;
        width: 100%;
        gap: 50px;
    }

    .payment-content #img-pix {
        width: 70%;
    }

    .payment-box-img img {
        width: 300px;
        height: 300px;
    }

}

@media (max-width:425px) {
    .location h4 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .location p {
        font-size: 16px;
    }

    div.carousel {
        padding: 0;
    }
}