.donators {
    display: grid;
}

.donators h2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.table-area {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    padding: 0 10%;
}

.table {
    width: 100%;
}

.table-head {
    background: var(--darkblue);
    color: var(--dark);
}

.table-head tr {
    font-size: 1.5rem;
}

.table-head tr th {
    text-align: center;
    width: 50%;
    padding: 10px;
}

.table-body tr {
    background: #eee;
}

.table-body td {
    font-size: 1.2rem;
    padding: 10px 0 10px 5px;
    border-bottom: 1px solid #ccc;
}