.donators {
    display: grid;
}

.donators h2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.donators-content {
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.donators-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.donators-box a{
    font-size: 24px;
    font-family: 'Poppins';
}

.donators-box img {
    max-width: 150px;
    /* Defina o tamanho máximo desejado */
    max-height: 150px;
    width: auto;
    height: auto;
    display: block;
}

@media (max-width: 576px) {
    .donators-content {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}