.contacts {
    padding: 10vh 80px 0 80px;
}

.contact-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-box {
    width: 180px;
    height: auto;
    text-align: center;
    background: linear-gradient(var(--blue-logo), var(--lightblue));
    border-radius: 5px;
    margin: 50px 20px;
}

.contact-box a {
    color: var(--dark);
}

.contact-box a h3 {
    font-size: 24px;
    padding: 10px;
    font-family: 'Montserrat';
    font-weight: 200px;
}

.contact-box a i {
    padding: 10px;
    font-size: 64px;
    color: var(--dark);
}

.contact-box a p {
    font-size: 19px;
    padding: 10px;
}

@media (max-width:576px) {

    .contacts {
        grid-template-columns: 1fr;
        justify-items: center;
        padding: 10vh 30px 0 30px;
    }

    .contact-content {
        display: grid;
        grid-template-columns: 1fr;
        margin: 30px;
        justify-items: center;
    }

}
