.footer-content {
    background-color: #e9e1e1;
    display: flex;
    padding: 2% 8%;
    text-align: left;
    border-top: 1px solid #d1cccc;
    margin-top: 5%;
    justify-content: space-between;
}

.footer-topic-box {
    display: block;
    width: min-content;
    text-align: left;
}

.footer-topic-box h3 {
    font-size: 1.2rem;
    border-bottom: 1px solid #ccc;
    width: max-content;
    padding: 5px 0;
    margin-bottom: 10px;
}

.footer-topic-box p {
    font-size: 14px;
    text-align: left;
}

.footer-topic-box ul {
    list-style: none;
    width: max-content;
}

.footer-topic-box ul li a {
    font-size: 14px;
    color: blue
}

/* #copyright {
    display: block;
    padding-bottom: 20px;
    padding-right: 20px;
} */

/* #copyright h1 {
    text-align: right;
    font-weight: 400;
    font-size: 14px;
    color: gray
}

#copyright h4 {
    font-size: 12px;
    font-weight: 400;
    text-align: right;
    color: gray;
    padding-top: 5px;
} */

@media (max-width:1080px) {

    .footer-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .footer-topic-box {
        width: 50%;
        margin-bottom: 60px;
    }

    .footer-topic-box h3 {
        font-size: 1.2rem;
    }

    .footer-topic-box p,
    .footer-topic-box ul li a {
        font-size: 1rem;
    }

}

@media (max-width:480px) {
    .footer-content {
        grid-template-columns: 1fr;
    }
}