.contact-content {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: center;
}

.contact-box {
    text-align: center;
    background: var(--darkblue);
    margin: 30px;
    width: 180px;
    height: auto;
    border-radius: 5px;
    transition: all 0.5s;
    box-shadow: 0 0.1rem 0.5rem #ccc;
}

.contact-box:hover {
    background: var(--green);
}

.contact-box a {
    color: var(--white);
}

.contact-box a h3 {
    font-size: 1.3rem;
    margin: 10px;
    font-family: 'Montserrat';
}

.contact-box a i {
    margin: 10px;
    font-size: 64px;
    color: var(--white);
}

.contact-box a p {
    font-size: 1.1rem;
    margin: 10px;
}

@media (max-width:576px) {
    .contact-content {
        grid-template-columns: auto;
    }
}