.donations {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.donation-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.donation-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-items: center;
    align-items: center;
}

.donation-text p {
    width: 80%;
    text-align: center;
    font-size: 1.3rem;
}

.donation-text img {
    width: 55%;
}

/* O Que Doar */
.section-what-to-donate {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-items: center;
}

.section-what-to-donate h2 {
    justify-self: left;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

div.carousel {
    width: 90%;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    align-items: center;
    grid-template-columns: auto 5fr auto;
}

.carousel button {
    margin: 20px;
    padding: 0;
    width: 80px;
    height: 80px;
    border: none;
    background-repeat: no-repeat;
    background-size: cover;
    color: transparent;
    background-color: transparent;

}

.carousel button:nth-child(1) {
    background-image: url("../images/icone_prev.png");
}

.carousel button:nth-child(3) {
    background-image: url("../images/icone_next.png");
}

.product-box {
    background: var(--lightblue);
    box-shadow: 0 0.1rem 0.5rem var(--dark);
    border-radius: 10px;
    transition: all 0.7s;
    margin: 20px;
}

.product-box:hover {
    background: var(--blue);
}

.product-box:hover a {
    color: var(--white);
    border-bottom-color: var(--white);
}

.product-box h3 {
    font-size: 1.1rem;
    text-align: center;
    padding: 20px;
    font-family: 'Montserrat';
}

.product-box ul {
    list-style: none;
    border-top: 2px solid var(--white);
}

.product-box ul li {
    margin: 10px;
    text-align: center;
}

.product-box div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.product-box div a {
    color: blue;
    border-bottom: 1px solid blue;
    transition: all 0.7s;
    width: fit-content;
}

.location {
    width: 100%;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.text-h4 {
    font-size: 1.5em;
    text-align: center;
    margin: 50px 0 0 0;
}

.location p {
    margin: 10px 0;
    font-size: 1.3rem;
}

.location iframe {
    width: 80%;
    height: 350px;
    margin: 50px 0;
}

/* PAGAMENTO */

.section-payment {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

.payment-content {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    margin: 0 auto;
}

.payment-content #img-pix {
    width: 90%;
    border-radius: 50%;
}

.payment-box {
    width: 350px;
    height: auto;
    box-shadow: 0 0.1rem 0.5rem var(--dark);
}

.payment-box-text {
    text-align: center;
}

.payment-box-text h2 {
    font-size: 2rem;
    background-color: darkcyan;
    padding: 20px;
    color: var(--white);
}

.payment-box-text p {
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
}

.payment-box-text img {
    width: 50%;
    margin: 10px;
}

/* Outras Formas de Ajudar */
.section-help {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    display: grid;
    grid-template-columns: 1fr;
}

.section-help h2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.help-text {
    display: flex;
    align-items: center;
    justify-self: center;
    width: 70%;
    margin: 30px;
}

.help-text span {
    font-size: 32px;
    padding: 15px;
    background-color: var(--lightblue);
    box-shadow: 0 0.1rem 0.5rem var(--dark);
    border-radius: 50%;
    margin-right: 20px;
}

.help-text p {
    font-weight: bold;
    
}

@media (max-width:576px) {

    /* Intro */
    .donation-text {
        display: grid;
        grid-template-columns: auto;
        justify-items: center;
    }

    .donation-text p {
        width: 80%;
        padding: 0;
        margin-bottom: 50px;
    }

    .donation-text img {
        margin: auto;
    }

    /* PRODUTOS */
    .product-donation-content {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }

    .product-box {
        width: 250px;
        height: auto;
        margin: 20px;
    }

    /* Mapa - Local */
    .text-h4 {
        font-size: 1.1em;
    }

    .location p {
        font-size: 1rem;
    }

    .location iframe {
        margin-top: 50px;
        width: 75%;
        height: 400px;
    }

    /* PAGAMENTO */
    .payment-content {
        grid-template-columns: auto;
    }

    .payment-box {
        width: 300px;
        margin: 40px;
    }

    .payment-box-text h2 {
        font-size: 1.5rem;
        padding: 20px;
    }

    .payment-box-text p {
        margin: 10px;
        font-size: 1.2rem;
    }

    .payment-box-text img {
        width: 50%;
        margin: 10px;
    }

}