.aboutus {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* HISTÓRIA */
.section-history {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.section-history h2 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

.history-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.history-text {
    width: 95%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: justify;
    padding-left: 7.5%;
}

.history-text ul {
    margin: 20px 40px;
}

.history-text ul li {
    margin: 5px;
    font-size: 1.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.history-text p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.history-text #more-btn-history-div {
    display: flex;
    justify-content: right;
    margin-top: 10%;
}

.history-img {
    width: 75%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.history-img img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 0.1rem 0.5rem var(--dark);
}

/* MISSÃO VISÃO VALORES */

.section-mvv {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.mvv-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.mvv-box {
    display: block;
    background: var(--lightblue);
    width: 20rem;
    height: 15rem;
    border-radius: 2%;
    padding: 1.5%;
    color: var(--dark);
    text-align: left;
    box-shadow: 0 0.1rem 0.5rem var(--dark);
    transition: all 0.5s;

}

.mvv-box:hover {
    cursor: pointer;
    background: var(--blue);
}

.mvv-box .mvv-box-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.mvv-box h3 {
    font-size: 2rem;
    text-align: center;
    font-family: 'Montserrat';
    border-bottom: 1px solid var(--dark);
    width: fit-content;
}

.mvv-box p {
    font-size: 1.1rem;
    margin-top: 15px;
    padding: 20px;
    text-align: justify;
}

.mvv-box .mvv-img-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:576px) {
    .aboutus {
        display: grid;
        grid-template-columns: 1fr;
    }

    /* HISTÓRIA */
    .section-history {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .section-history h2 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .history-content {
        grid-template-columns: 1fr;
    }

    .history-text {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        text-align: justify;
        padding: 0 5%;
    }

    .history-text ul li {
        font-size: 1rem;
    }

    .history-text p {
        font-size: 1rem;
    }

    .history-text #more-btn-history-div {
        justify-content: center;
        margin-bottom: 10%;
    }

    .history-img {
        width: 70%;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    /* MISSÃO VISÃO VALORES */

    .section-mvv {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .mvv-content {
        grid-template-columns: 1fr;
    }

    .mvv-box {
        margin: 40px 0;
    }

}