#div_sub_header {
    display: flex;
    margin-left: 4%;
}

#div_sub_header div {
    width: 50%;
}

#div_sub_header p {
    font-size: 1.5em;
    text-align: justify;
    line-height: 1.5em;
    width: 100%;
}

#div_sub_header img {
    margin: auto;
}

/* PRODUTOS */

#id_caixa_produtos {
    display: flex;
    justify-content: space-evenly;
    padding: 4% 0;
}

.div_caixa_produtos {
    background-color: #98dcec;
    border: 1px solid #7dbacf;
    width: 15vw;
    height: 30em;
    border-radius: 2%;
    padding: 1.5%;
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 90%;
}

.div_caixa_produtos h3 {
    text-align: center;
    margin-bottom: 10%;
}

.div_caixa_produtos ul li {
    margin-left: 5%;
    line-height: 1.6em;
    font-weight: bold;
    text-align: left;
}

#caixa_produtos_alimenticios {
    background-image: url('images/icone_alimentos.png');
}

#caixa_produtos_higiene {
    background-image: url('images/icone_higiene.png');
}

#caixa_produtos_limpeza {
    background-image: url('images/icone_limpeza.png');
}

#caixa_brinquedos {
    background-image: url('images/icone_brinquedos.png');

}

#id_o_que_doar h4 {
    font-size: 1.5em;
    text-align: center;
}

#id_o_que_doar address {
    text-align: center;
}

#id_o_que_doar address p {
    padding: 1% 0;
    font-size: 1.2em;
    display: block;
    font-weight: bold;
}

#id_o_que_doar address iframe {
    width: 80%;
    height: 250px;
    padding-bottom: 4%;
}

/* DINHEIRO */

#caixa_formas_doar {
    padding: 4%;
    display: flex;
    justify-content: center;
}

.div_formas_doar {
    width: 50%;
    height: 15em;
    display: block;
    text-align: center;
    margin: 1%;
    background-color: rgb(224, 224, 224);
    border: 1px solid #7dbacf;
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 85%;
    background-size: 25%;
}

.div_formas_doar h3 {
    padding: 2% 0;
    font-size: 1.5em;
}

.div_formas_doar ul {
    list-style: none;
    width: 50%;
}

.div_formas_doar ul li {
    padding: 5%;
    margin-top: 6%;
    text-align: left;
    font-weight: bold;
    color: #0004fd;
}

.div_formas_doar li p {
    font-weight: bold;
}

.div_formas_doar img {
    width: 100%;
    margin: auto;
}

#div_banco_do_brasil {
    background-image: url('images/imagem_qrcode_pix.jpeg');
}

#div_banco_do_brasil h3 {
    color: #0004fd;
    background-color: yellow;
}

#div_caixa_economica_federal {
    background-image: url('images/imagem_qrcode_pix.jpeg');
}

#div_caixa_economica_federal h3 {
    color: #0004fd;
    background-color: rgb(255, 175, 28);
}