#id_contatos {
    height: 100vh;
}

#lista_contatos {
    padding: 5%;
}

#lista_contatos ul {
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: center;
    height: 200px;
    align-items: center;
}

.item_lista_contatos {
    background-color: #98dcec;
    border: 1px solid #7dbacf;
    border-radius: 2%;
    height: 160px;
    width: 260px;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 10px;
    font-size: 16px;
}

.item_lista_contatos a {
    display: block;
    margin-bottom: 20px;
    font-size: 20px;
}

.item_lista_contatos i {
    color: #158fb4;
    font-size: 64px;
    margin-bottom: 10px;
}

.item_lista_contatos p {
    margin-top: 10px;
    font-weight: bold;
}