* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    color: #212121;
}

body {
    max-width: 100%;
}

#id_header_principal {
    background-color: #68cbe8;
    height: 7em;
    display: flex;
    align-items: center;
}

#id_header_principal nav {
    width: 100%;
}

#id_header_principal nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

#id_header_principal nav ul li a {
    justify-content: space-evenly;
    font-weight: 600;
}

#id_header_principal nav ul li a:hover {
    font-weight: 600;
    color: white;
    opacity: 1;
}

.headers_style h1 {
    font-size: 3em;
    text-align: center;
}

.headers_style h4 {
    text-align: center;
    font-size: 1.5em;
    margin-top: 1%;
}

.sub_headers h2 {
    font-size: 2em;
    padding: 4%;
}
