#id_footer {
    background-color: lightgray;
    display: flex;
    align-items: center;
    height: 5em;
    justify-content: center;
    border-top: 1px solid #a19595;
}

#id_footer p {
    font-weight: bold;
}