#id_quem_somos {
    background-color: #effafc;
}

#quem_somos_header_principal {
    padding: 1%;
    height: 7em;
    margin-bottom: 5%;
}

#quem_somos_header_principal h4 a:hover {
    color: #7dbacf;
}

/* HISTÓRIA */
#id_historia {
    height: 100vh;
    display: flex;
    padding: 4%;
}

#id_historia p {
    font-size: 1.1em;
    margin-left: 4%;
    text-align: left;
    line-height: 1.5em;
}

#id_historia img {
    height: 500px;
    align-self: center;
}

/* MISSÃO VISÃO VALORES */
#id_mvv {
    height: 80vh;
}

#id_div_mvv {
    display: flex;
    padding: 2%;
    justify-content: space-around;
}

.caixa_mvv {
    background-color: #98dcec;
    border: 2px solid #7dbacf;
    width: 15em;
    height: 15em;
    border-radius: 15%;
    padding: 1.5%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: 90%;
    background-position-y: 90%;
}

.caixa_mvv h3 {
    font-size: 2em;
    text-align: left;
    margin-bottom: 10%;
}

.caixa_mvv p,
.caixa_mvv ul li {
    font-size: 1.1em;
    color: #212121;
    font-weight: lighter;
    text-align: justify;
}

.caixa_mvv ul li {
    margin-left: 8%;
}

#caixa_missao {
    background-image: url('images/icone_missao.png');
}

#caixa_visao {
    background-image: url('images/icone_visao.png');

}

#caixa_valores {
    background-image: url('images/icone_valores.png');
}