#id_doacoes {
    background-color: #effafc;
}

#id_doacoes_header {
    padding: 1%;
    height: 7em;
    margin-bottom: 10%;
}

#id_doacoes #div_sub_header {
    display: flex;
}

#id_doacoes #div_sub_header p {
    padding: 4%;
    font-size: 1.5em;
    text-align: left;
    line-height: 1.5em;
    width: 50%;
}

#id_doacoes div img {
    align-self: center;
    margin-left: 100px;

}


#id_caixa_produtos {
    display: flex;
    justify-content: space-around;
}

.div_caixa_produtos {
    background-color: #68cbe8;
    border: 2px solid #7dbacf;
    width: 15vw;
    height: 30em;
    border-radius: 2%;
    padding: 1.5%;
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 90%;
}

.div_caixa_produtos h3 {
    text-align: center;
    margin-bottom: 10%;
}

.div_caixa_produtos ul li {
    margin-left: 5%;
    line-height: 1.6em;
    font-weight: bold;
    text-align: left;
}

#caixa_produtos_alimenticios {
    background-image: url('images/icone_alimentos.png');
}

#caixa_produtos_higiene {
    background-image: url('images/icone_higiene.png');
}

#caixa_produtos_limpeza {
    background-image: url('images/icone_limpeza.png');
}

#caixa_brinquedos {
    background-image: url('images/icone_brinquedos.png');

}

#id_o_que_doar h4 {
    font-size: 1.5em;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 1%;
}

#id_o_que_doar address {
    text-align: center;
    margin-bottom: 30px;

}

#id_o_que_doar address a {
    font-size: 1.2em;
    display: block;
    margin-bottom: 50px;
    font-weight: bold;
}

#id_o_que_doar address iframe {
    width: 80%;
    height: 200px;
}