#id_pagina_inicial {
    display: flex;
    padding-left: 4%;
    height: 100vh;
}

#id_pagina_inicial div {
    width: 100%;
}

#id_pagina_inicial div header {
    margin-top: 10%;
    margin-bottom: 10%;
}

#id_pagina_inicial div header h1 {
    font-size: 3em;
    text-align: left;
}

#id_pagina_inicial div header h4 {
    font-size: 1.3em;
    margin-top: 1%;
    text-align: left;
}

#id_pagina_inicial div p {
    font-size: 1.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
    line-height: 1.5em;
    margin-top: 5%;
}

#id_pagina_inicial div span {
    color: #98dcec;
    font-weight: bold;
}

#id_pagina_inicial div ul{
    list-style: circle;
    padding: 0 4%;
    
}

#id_pagina_inicial div ul li{
    font-size: 1.2em;
    width: 100%;
    margin: 5px;
}

#id_pagina_inicial img {
    width: 100%;
    margin: auto;
    height: auto;
}