#id_pagina_inicial {
    display: flex;
    background-color: #effafc;
    height: 100vh;
    padding: 4%;
}

#id_pagina_inicial div header h1 {
    font-size: 3em;
    margin-top: 100px;
    text-align: left;
}

#id_pagina_inicial div header h4 {
    font-size: 1.3em;
    color: #504c4c;
    margin-top: 1%;
    text-align: left;
}

#id_pagina_inicial div p {
    font-size: 1.2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
    line-height: 1.5em;
    width: 70%;
    margin-top: 10%;
}

#id_pagina_inicial div span {
    color: #2abeeb;
    font-weight: bold;
}

#id_pagina_inicial img {
    align-self: center;
    width: 720px;
    height: 640px;
}