/* HISTÓRIA */
.quem_somos_section {
    margin-bottom: 5%;
}

.div_conteudo_historia {
    display: flex;
}

.div_conteudo_historia div {
    display: block;
    width: 50%;
}

.div_conteudo_historia ul {
    font-size: 1.1em;
    padding-left: 5%;
    margin-top: 4%;
    margin-bottom: 4%;
}

.div_conteudo_historia div p {
    font-size: 1.1em;
    text-align: justify;
    line-height: 1.5em;
}

.div_texto_historia {
    display: flex;
    padding: 4%;
}

#saiba_mais {
    background-color: #98dcec;
    max-width: fit-content;
    padding: 2%;
    border-radius: 2%;
    margin-top: 5%;
    font-weight: bold;
    border: 1px solid #7dbacf;
}

#saiba_mais:hover {
    background-color: #b8e1eb;
}

.div_imagem_historia {
    margin-top: 4%;
    margin-right: 4%;
}

#div_imagem2_historia {
    padding-left: 4%;
}

#div_texto2_historia {
    padding-left: 0;
}

.div_imagem_historia img {
    border-radius: 2%;
    width: 100%;
    height: auto;
}

/* MISSÃO VISÃO VALORES */

#id_div_mvv {
    display: flex;
    align-items: center;
    padding: 4% 0 4% 0;
    justify-content: space-around;
}

.caixa_mvv {
    background-color: #98dcec;
    border: 2px solid #7dbacf;
    width: 15em;
    height: 15em;
    border-radius: 15%;
    padding: 1.5%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: 90%;
    background-position-y: 90%;
}

.caixa_mvv h3 {
    font-size: 2em;
    text-align: left;
    margin-bottom: 10%;
}

.caixa_mvv p,
.caixa_mvv ul li {
    font-size: 1.1em;
    color: #212121;
    font-weight: lighter;
    text-align: justify;
}

.caixa_mvv ul li {
    margin-left: 8%;
}

#caixa_missao {
    background-image: url('images/icone_missao.png');
}

#caixa_visao {
    background-image: url('images/icone_visao.png');

}

#caixa_valores {
    background-image: url('images/icone_valores.png');
}